@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Italianno);

body{
	background: #d1ffff;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}


#right{
	float: right;
}

#middle{
	float: right;
	margin-right: 20px;

}

.navigation{
	background: #ffffff;
	height: 65px;
}

.navigation{
	font-size: 40px;
}

.navigation li{
	display: inline;
	margin-right: 10px;
}

.navigation a{
	color: #000;
	text-decoration: none;
	font-family: Italianno;
	font-style: strong;border-style:
}

.navigation a:visited{
	color: #FF0000;
}

.navigation a:hover{
color: #555;
}

#welcome{
	text-align: center;
}

#kaila{
	text-align: center;
}

#h{
	text-align: center;
}

#facebook{
	height: 50px;
	width: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#vegas{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#disneyland{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

#paragraph{
font-size: 25px;
margin-left: 30px;
}

.projects{
	text-align: center;
}

#todolist{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}